<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{{url_for('static', filename='img/logo.png')}}" type="image/png">
        <title>Add Article</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='vendors/linericon/style.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='vendors/lightbox/simpleLightbox.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='vendors/nice-select/css/nice-select.css')}}">
        <!-- main css -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/responsive.css')}}">
    </head>
<body>
    
<center>
    <form action="/add_book" method="POST" enctype="multipart/form-data" style="width: 400px;">
  <div class="imgcontainer">
    <font style="font-size: 28px"> Add article</font>
  </div>

  <div class="container">


    <label for="article-title" style="float: left;"><b class="color">article title</b></label>
    <input type="text" placeholder="article-name" name="title" required>
        <label for="authorname" style="float: left;"><b class="color">Author's Name</b></label>
    <input type="text" placeholder="Author's Name" name="authorname" required>

    <label for="paragraph" style="float: left;"><b class="color">paragraph</b></label>
    <input type="text" placeholder="paragraph" name="paragraph" required>

    <label for="date" style="float: left;"><b class="color">date</b></label>
    <input type="text" placeholder="date" name="date" required>



    <button type="submit">Add article</button>
    <p>     </p>
<!--     <div class="container" style="background-color:#f1f1f1; float: left;"> -->
    <button type="reset" class="btn btn-outline-success">Cancel</button>
    
  </div> 

</form>
</center>
</body>
</html>