

{% extends "layout.html" %}

{% block content %}

    <!--================ Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="banner_content text-center" >
                   
                    <h2>A Book</h2>
                  
                </div>
            </div>
        </div>
    </section>
    <!--================ End Home Banner Area =================-->
	
	<!--================ Start Causes Area =================-->

    <div>
        
                <table class="center">

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('static/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1> {{article.title}}</h1>
            <span class="meta">Posted by
              <a href="#">{{article.author}}</a>
              <span>{{article.release_date}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

{{article.paragraph}}

                </table>
                
        </div>


    </body>
    {% endblock %}

</html>